/* Header Styles */
.header-container {
  /* background-color: #fff; */
  padding: 10px 20px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #e0e0e0; */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container .logo {
  height: 50px;
  width: auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-container {
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
}

.welcome-container a {
  color: #454a67;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #454a67;  /* Adding border */
  padding: 5px 10px;  /* Adding padding for better clickability */
  border-radius: 4px;  /* Rounded corners */
  font-weight: bold;  /* Making text bold for a more modern feel */
  transition: all 0.3s ease;  /* Smooth transition for hover effect */
}

.welcome-container a:hover {
  background-color: #454a67; 
  color: #fff;  /* Changing text color on hover */
}


.logout-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #4b0082;
}

/* Main Content */
.main-container {
  padding: 20px;
}

.main-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Project Box Styles */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card h4 {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #e6e6e6;
}
